body {
  margin: 0;
  background: #fff;
  /* todo: fonts too big on windows */
  font-size: 16px;
}

#content {
  float: right;
  width: 50%;
  padding: 1em 2% 1em 2%;
  background: #fff;
  color: #222;
  margin: 1.5em 0 2em 1.5em;
  font-family: "Lucida Grande";
}

#bike {
  float: right;
  padding: 5px;
  margin: 0 0 1.5em 1.5em;
}

#header {
  font-weight: bold;
  font-size: 1.5em;
}

#subheader {
  font-weight: bold;
  font-size: 1em;
}

#panel {
  position: fixed;
  top: 70px;
  left: 0px;
  border-top: 2px solid #222;
  border-left: 2px solid #222;
  border-right: 2px solid #222;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 15px;
  background: #222;
  width: 37%;
  height: 400px;
  padding: 1% 2% 2% 1%;
}

.launcher-icon {
  margin: 1em 0 0 1em;
  cursor: pointer;
}
