* { padding: 0; margin: 0; }

body {
  /* todo: fonts too big on windows */
  padding: 1em;
  font: bold 1em "Terminus", "Lucida Console", "Terminal", "Courier New", Courier, fixed, sans-serif;
  color: #0c0;
  background: #111;
}

#title {
  font-size: 1.5em;
  padding-bottom: 0.1em;
  border-bottom: 1px dashed #0c0;
  margin-bottom: 0.7em;
}

/* the single input box */
#input {
  width: 90%;
  overflow: hidden;
  border: none;
  color: #0c0;
  background: #111;
  font-size: 1.2em;
}

/* all output boxes, regardless of type */
.outbox {
  width: 90%;
  overflow: hidden;
  border: none;
}

/* stdout */
.output {
  font: inherit;
  font-size: 1.2em;
  color: #777;
  background: #111;
}

/* input text, including that which appears in an output box */
.input {
  font: inherit;
  font-size: 1.2em;
  color: #0c0;
  background: #111;
}

/* error output text */
.error {
  font: inherit;
  font-size: 1.2em;
  color: #c30;
  background: #111;
}
